<!DOCTYPE html>
<html>

<head>

    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="{{ static('style.css') }}" />
    <link rel="stylesheet" href="{{ static('sheet.css') }}" />
    <%= htmlWebpackPlugin.tags.headTags %>
        <link rel="icon" href="{{ static('puffin_red.svg') }}" />
</head>


<body class="" data-endpoint="{{ request.endpoint }}">
    <%= htmlWebpackPlugin.tags.bodyTags %>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul id="flashes" class="flashes right">
            {% for category, message in messages %}
            <li class="flash {{ category }} new">
                <div class="flash-inner">{{ message }}</div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <div id="page">
            <header>
                <div id="page-home">
                    <img class="logo" src="{{ static('puffin_red.svg') }}" style="height: 1.75rem">
                    <span class="logo">Puffin<sup>v2</sup></span>
                    <!--borb-button id="f14" data-shortcut="shift+ctrl+14" class="row1"></borb-button>
                    <borb-button id="f15" data-shortcut="shift+ctrl+15" class="row1"></borb-button-->

                </div>
                <div id="course-info"></div>
                <div id="user-info"></div>
            </header>
            <div class="login-page">
                {% if allow_gitlab %}
                <form class="login-form" action="gitlab" method="get">
                    {% if next_page %}
                    <input name="next_page" type="hidden" value="{{ next_page }}"></input>
                    {% endif %}
                    <button type="submit">Log in with git.app.uib.no</button>
                </form>
                {% endif %}
                {% if allow_password %}
                <form class="login-form" action="." method=post>
                    <table>
                        {{ form.csrf_token }}
                        {% for field in [form.username, form.password] %}
                        <tr>
                            <th>{{ field.label }}</th>
                            <td>{{ field }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <button type=submit>Login</button>
                </form>
                {% endif %}
            </div>
        </div>
</body>

</html>