<!DOCTYPE html>
<html>

<head>

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/sheet.css" />
</head>


<body>
    <%= htmlWebpackPlugin.tags.bodyTags %>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <div id="page">
            <header>
                <borb-command name="profile" data-bind="f14" data-icon="🙃" data-text="Profile"></borb-command>
                <borb-command name="projects" data-bind="f15" data-icon="🚧" data-text="Projects"></borb-command>

                <div id="page-home">
                    <borb-button id="f14" data-shortcut="shift+ctrl+14" class="row1"></borb-button>
                    <borb-button id="f15" data-shortcut="shift+ctrl+15" class="row1"></borb-button>

                </div>
                <div id="course-info"></div>
                <div id="user-info"></div>
            </header>
            <p id="display"></p>
            <div id="mid">
                <borb-frame id="frame1">
                    <div id="controls" frame-title="Debugger">
                        <label for="id">API endpoint:</label>
                        <input type="text" id="id" name="id" placeholder="/courses/" autofocus="true">
                        <label for="data">Data:</label>
                        <textarea id="data" placeholder="{}" rows="1"></textarea>
                        <div></div>
                        <div class="buttons">
                            <button type="button" id="get">GET</button>
                            <button type="button" id="put">PUT</button>
                            <button type="button" id="post">POST</button>
                            <button type="button" id="patch">PATCH</button>
                        </div>
                    </div>
                </borb-frame>
                <borb-frame id="frame2">
                </borb-frame>
                <borb-frame id="frame3" style="height:100%">
                    <borb-sheet frame-title="Results" id="resultElt" class="sheet"></borb-sheet>
                    <div frame-title="Debug Log" id="output" class="log">
                        <h1>Debug Log</h1>
                    </div>
                    <div id="anchor"></div>
                </borb-frame>
            </div>
</body>

</html>