<!DOCTYPE html>
<html>

<head>

    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="{{ static('style.css') }}" />
    <link rel="stylesheet" href="{{ static('sheet.css') }}" />
    <link rel="icon" href="{{ static('puffin_red.svg') }}" />
</head>


<body class="" data-endpoint="{{ request.endpoint }}">
    <%= htmlWebpackPlugin.tags.bodyTags %>
        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul id="flashes" class="flashes right">
        {% if messages %}
            {% for category, message in messages %}
            <li class="flash {{ category }} new"><div class="flash-inner">{{ message }}</div></li>
            {% endfor %}
            {% endif %}
        </ul>
        {% endwith %}
        {% block body %}{% endblock %}
        <div id="page">
            <header>
                <borb-command name="profile" data-bind="f14" data-icon="🙃" data-text="Profile"></borb-command>
                <borb-command name="projects" data-bind="f15" data-icon="🚧" data-text="Projects"></borb-command>
                <div id="page-home">
                    <img class="logo" src="{{ static('puffin_red.svg') }}" style="height: 1.75rem">
                    <span class="logo">Puffin<sup>v2</sup></span>
                    <!--borb-button id="f14" data-shortcut="shift+ctrl+14" class="row1"></borb-button>
                        <borb-button id="f15" data-shortcut="shift+ctrl+15" class="row1"></borb-button-->
                            <borb-button id="test" type="switch" data-text="Foobar">Test</borb-button>

                </div>
                <div id="course-info"></div>
                <div id="user-info"></div>
            </header>
            <div id="mid">
                <!-- borb-frame id="frame1">
                </borb-frame -->
                <borb-frame id="frame2">
                    <p id="display"></p>
                </borb-frame>
                <borb-frame id="frame3">
                    <div id="debugger" hidden="true" frame-title="Debugger">
                        <label for="id">API endpoint:</label>
                        <input type="text" id="id" name="id" placeholder="/courses/" autofocus="true">
                        <label for="data">Data:</label>
                        <textarea id="data" placeholder="{}" rows="1"></textarea>
                        <div></div>
                        <div class="buttons">
                            <button type="button" id="get">GET</button>
                            <button type="button" id="put">PUT</button>
                            <button type="button" id="post">POST</button>
                            <button type="button" id="patch">PATCH</button>
                        </div>
                    </div>
                    <borb-sheet hidden="true" frame-title="Results" id="resultElt" class="sheet"></borb-sheet>
                    <div hidden="true" frame-title="Debug Log" id="output" class="log">
                        <h1>Debug Log</h1>
                    </div>
                    <div id="anchor"></div>
                </borb-frame>
            </div>
</body>

</html>